<nav class="nav flex-column sidebar-container">
    <div class="sidebar-main">
        <a class="nav-link active" aria-current="page">Core</a>
        <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Pages</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-link active">Manage</a>
        <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Boxes</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>

                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Admin</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">
        <a class="nav-link active">Logged in as:</a>
    </div>
</nav>