<nav class="nav flex-column sidebar-container">
    <div class="sidebar-main">
        <a class="nav-link disabled" aria-current="page">Core</a>
        <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Pages</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="list-group list-group-flush">
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn==='btnHome'" (click)="setActive('btnHome')">Home</button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnBlog'" (click)="setActive('btnBlog')">
                                    Blog
                                </button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnUsers'"
                                    (click)="setActive('btnUsers')">Users</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <a class="nav-link disabled">Manage</a>
        <div ngbAccordion>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Boxes</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="list-group list-group-flush">
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn==='btnAll'" (click)="setActive('btnAll')">All</button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnMine'" (click)="setActive('btnMine')">
                                    Mine
                                </button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnPopular'"
                                    (click)="setActive('btnPopular')">Popular</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem [collapsed]="true">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Admin</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <div class="list-group list-group-flush">
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnMain'" (click)="setActive('btnMain')">
                                    Main
                                </button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn==='btnLog'" (click)="setActive('btnLog')">Log</button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnBoxes'" (click)="setActive('btnBoxes')">
                                    Boxes
                                </button>
                                <button type="button" class="list-group-item list-group-item-action"
                                    [class.active]="activeBtn === 'btnAccounts'"
                                    (click)="setActive('btnAccounts')">Accounts</button>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">
        <a class="nav-link disabled">Logged in as:</a>
    </div>
</nav>