<div class="container" style="background-color: white; max-width: 660px; max-height: 960px;">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="assets/img/pepe.png" alt="img not found" width="72" height="57">
      <h2>Registration From</h2>
      <p class="lead">Please complete all fields.</p>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Person</h4>
        <form class="needs-validation w-50" [formGroup]="form">
          <div class="row g-3">
            <div class="col-12">
              <label for="name" class="form-label" setTextField='Field.Name'></label>
              <input type="text" class="form-control" id="name" placeholder="Bohdan" formControlName="name">
              <div>
                <small class="text-danger" *ngIf="getControl('name')?.errors?.['required']">Field Name is required</small>
                <small class="text-danger" *ngIf="getControl('name')?.errors?.['maxLength']">Field Name is required</small>
              </div>
            </div>
            <div class="col-12">
              <label for="phone" class="form-label" setTextField="Field.Phone"></label>
              <input type="number" class="form-control number" id="phone" placeholder="877236215"
                formControlName="phone">
              <div>
                <small class="text-danger" *ngIf="getControl('phone')?.errors?.['pattern']">Please enter a valid mobile number</small>
              </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label" setTextField="Field.Email"></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email">
              <div>
                <small class="text-danger" *ngIf="getControl('email')?.errors?.['pattern']">Please enter a valid mail. Example: mybigpenis&#64;gmail.com</small>
              </div>
            </div>
          </div>
          <div class="my-3">
            <label for="sex" class="form-label" setTextField="Field.Sex"></label>
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="sex" value="male">
              <label class="form-check-label" for="maleCheck" setTextField="Field.Male"></label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="sex" value="female">
              <label class="form-check-label" for="femaleCheck" setTextField="Field.Female"></label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="sex" value="eblan"
                (click)="clickCorrectRadio($event)">
              <label class="form-check-label" for="otherCheck">{{this.otherCheck}}</label>
              <div>
                <small class="text-danger" *ngIf="this.form.get('sex')?.errors?.['otherSelected']">Bro...</small>
              </div>
            </div>
          </div>
          <hr class="my-4">
        </form>
        <div class="form-check" style="margin-bottom: 20px;">
          <label class="form-check-label" for="advanceCheckbox">With advance information.</label>
          <input id="advanceCheckbox" name="useAdvance" type="checkbox" class="form-check-input" value="withAdvance"
            (ngModel)="isAdvance" (change)="withAdvance(isAdvance)">
        </div>
        <app-advance *ngIf="isAdvance"></app-advance>
      </div>
    </div>
  </main>
  <div>
    <small class="text-danger" *ngIf="this.form.status === 'INVALID'">Please fill in all required fields</small>
  </div>
  <button class="w-20 btn btn-primary btn-lg btn-block" id="sendButton" type="submit" (click)="registerFn()" setTextField="Field.Send" [disabled]="this.form.status === 'INVALID'" mat-dialog-close></button>
  <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2022-2017 اسم الشركة</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">سياسة الخصوصية</a></li>
                <li class="list-inline-item"><a href="#">اتفاقية الاستخدام</a></li>
                <li class="list-inline-item"><a href="#">الدعم الفني</a></li>
            </ul>
        </footer> -->
</div>