<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <!-- <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div> -->
    </form>
    <div class="btn-group ms-auto ms-md-0 me-3 me-lg-4" dropdown>
        <li class="nav-item dropdown">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
                <fa-icon [icon]="faUser"></fa-icon><span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                <li role="menuitem"><a class="dropdown-item" routerLink="/member/edit">Edit profile</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item">Logout</a>
                </li>
            </ul>
        </li>
    </div>
</nav>