<div class="container" style="background-color: white; height: 100%;">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="https://www.pngmart.com/files/11/Sad-Pepe-The-Frog-PNG-File.png"
        alt="img not found" width="72" height="57">
      <h2>Registration From</h2>
      <p class="lead">Please complete all fields.</p>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Person</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Bohdan" value="" required="">
            </div>
            <div class="col-12">
              <label for="phone" class="form-label">Phone number</label>
              <input type="number" class="form-control number" id="phone" placeholder="877236215" required="">
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
            </div>
          </div>
          <div class="my-3">
            <label for="phone" class="form-label">Sex</label>
            <div class="form-check">
              <input id="maleCheck" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="maleCheck">Male</label>
            </div>
            <div class="form-check">
              <input id="femaleCheck" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="femaleCheck">Female</label>
            </div>
            <div class="form-check">
              <input id="otherCheck" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="otherCheck">Other</label>
            </div>
          </div>
          <hr class="my-4">
          <app-advance></app-advance>
          <button class="w-100 btn btn-primary btn-lg" type="submit">Send</button>
        </form>
      </div>
    </div>
  </main>
  <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2022-2017 اسم الشركة</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">سياسة الخصوصية</a></li>
                <li class="list-inline-item"><a href="#">اتفاقية الاستخدام</a></li>
                <li class="list-inline-item"><a href="#">الدعم الفني</a></li>
            </ul>
        </footer> -->
</div>
