<nav class="navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"
        (click)="toggleSidebar()">
        <i class="bi bi-layout-sidebar"></i>
    </button>

    <ng-container *ngIf="!(accountService.currentUser$ | async); else userBlockTemplate">
        <div class="d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <button id="button-log-in" type="button" class="btn btn-primary" (click)="openLogInForm()">Log
                in</button>
        </div>
    </ng-container>
    <ng-template #userBlockTemplate>
        <div class="btn-group ms-auto me-0 me-md-3 my-2 my-md-0" dropdown>
            <li class="nav-item dropdown">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
                    <i class="bi bi-person-fill"></i><span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/member/edit">Edit profile</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </li>
        </div>
    </ng-template>
</nav>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [horizontal]="true"
    style="max-width: 500px; position: fixed;">
    <div class="card" style="width: 100%">
        <div class="card-body">
            <app-nav-sidebar></app-nav-sidebar>
        </div>
    </div>
</div>