<div class="modal-dialog modal-dialog-centered modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Sign Up</h4>
            <button type="button" class="close" aria-label="Close" (click)="closeSignInForm()">
                <span aria-hidden="true" class="close-text">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="closeSignInForm()">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required
                        autocomplete="current-username" #usernameInput (input)="0">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required
                        autocomplete="current-password" #passwordInput (input)="0">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password"
                        required autocomplete="current-password" #confirmPasswordInput (input)="0">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"
                        [disabled]="!usernameInput.value || !passwordInput.value || !confirmPasswordInput.value">Sign
                        Up</button>
                </div>
            </form>
            <div class="sign-up">
                <p>Already have an account? <a (click)="openLogInForm()">Login here</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <p>By clicking the Sign Up button, you agree to our
                <a href="#">Terms & Conditions</a>, and <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>