<div class="container">
  <div class="left">
    <button class="btn btn-primary" (click)="openDilog()">
      <i class="bi bi-person-fill-add"></i>
    </button>
  </div>
  <div class="center">
    <table mat-table class="table" [dataSource]="dataSource">
      <ng-container matColumnDef="id" id="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let item"> {{item.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name" id="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item"> {{item.name}}</td>
      </ng-container>
      <ng-container matColumnDef="mail" id="mail">
        <th mat-header-cell *matHeaderCellDef>Mail</th>
        <td mat-cell *matCellDef="let item"> {{item.mail}}</td>
      </ng-container>
      <ng-container matColumnDef="phone" id="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let item"> {{item.phone}}</td>
      </ng-container>
      <ng-container matColumnDef="sex" id="sex">
        <th mat-header-cell *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let item"> {{item.sex}}</td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let item"> 
          <button mat-icon-button class="removeCart" style="border: none; background-color: transparent" (click)="deletePerson(item.id)" >
            <i class="bi bi-x-lg" style="font-size: 12px; color: rgb(255, 0, 0); -webkit-text-stroke-width: 4.3px;"></i>
          </button>
        </td>
    </ng-container>
      <thead>
        <tr class="table-active" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </thead>
      <tbody>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>
    </table>
  </div>
  <div class="right"></div>
</div>