<button class="btn btn-primary" (click)="openDilog()"></button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Mail</th>
        <th scope="col">Phone</th>
        <th scope="col">Sex</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <th scope="row">{{person.id}}</th>
        <td>{{person.name}}</td>
        <td>{{person.mail}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.sex}}</td>
      </tr>
    </tbody>
  </table>