<div class="modal-dialog modal-dialog-centered modal-login">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Sign Up</h4>
            <button type="button" class="close" aria-labelKey="Close" (click)="closeSignInForm()">
                <span aria-hidden="true" class="close-text">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="closeSignInForm()">
                <app-text-input [formControl]="$any(signUpForm.controls['username'])"
                    [labelKey]="'Username'"></app-text-input>
                <app-text-input [formControl]="$any(signUpForm.controls['nickname'])"
                    [labelKey]="'Nickname'"></app-text-input>
                <app-text-input [formControl]="$any(signUpForm.controls['dateOfBirth'])"
                    [labelKey]="'DateOfBirth'"></app-text-input>
                <app-text-input [formControl]="$any(signUpForm.controls['password'])"
                    [labelKey]="'Password'"></app-text-input>
                <app-text-input [formControl]="$any(signUpForm.controls['confirmPassword'])"
                    [labelKey]="'ConfirmPassword'"></app-text-input>
            </form>
            <div class="sign-up">
                <p>Already have an account? <a (click)="openLogInForm()">Login here</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <p>By clicking the Sign Up button, you agree to our
                <a href="#">Terms & Conditions</a>, and <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</div>