<div class="container" style="background-color: white; margin-bottom: 30px;">
  <main>
    <div class="row">
      <div class="col-md-6 col-lg-7">
        <h4 class="mb-3">Advance</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-12">
              <label for="country" class="form-label">Country</label>
              <input type="text" class="form-control" id="Country" placeholder="Cumtry" value="" required="">
            </div>
            <div class="col-12">
              <label for="job" class="form-label">Job</label>
              <input type="text" class="form-control number" id="job" placeholder="Job" required="">
            </div>
            <div class="col-12" id="family">
              <label for="family" class="form-label">Family</label>
              <input type="text" class="form-control"  placeholder="Family" (keyup.enter)="createFamilyBlock($event)">
            </div>
            <div class="col-12">
              <label for="birth" class="form-label">Birth</label>
              <input type="date" class="form-control" id="Birth" placeholder="00.00.00">
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>