::ng-deep .modal-content {
	background: none; 
	border: none; 
	box-shadow: none; 
  }

body {
	font-family: 'Varela Round', sans-serif;
}

.modal-body .sign-up,
.modal-body form .form-group,
.modal-body form .form-group button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.modal-body .sign-up a{
	text-decoration: none;
	color:blue;
	cursor: pointer;
}
.modal-login  {		
	color: #636363;
	width: 450px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	background-color: white;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
	border-radius: 50%;
	background-color:#60c7c1;
	color: black;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}	

.modal-login .close .close-text{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 13px;
	margin: 0 -20px -20px;
}

.modal-login .modal-footer a {
	color: #999;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #60c7c1;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}