<div class="container" style="background-color: white; height: 100%;">
  <main>
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Advance</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="country" class="form-label">Country</label>
              <input type="text" class="form-control" id="Country" placeholder="Cumtry" value="" required="">
            </div>
            <div class="col-12">
              <label for="job" class="form-label">Job</label>
              <input type="text" class="form-control number" id="job" placeholder="Job" required="">
            </div>
            <div class="col-12">
              <label for="family" class="form-label">family</label>
              <input type="text" class="form-control" id="family" placeholder="Family">
            </div>
          </div>
          <div class="col-12">
            <label for="birth" class="form-label">Birth</label>
            <input type="date" class="form-control" id="Birth" placeholder="00.00.00">
          </div>
          <div class="col-12">
            <label for="education" class="form-label">Education</label>
            <input type="radio" class="form-control" id="education" placeholder="Edu years">

          </div>
          <div class="col-12">
            <label for="family" class="form-label">family</label>
            <input type="text" class="form-control" id="family" placeholder="Family">
          </div>





          <div class="my-3">
            <label for="date" class="form-label">test </label>
            <div class="form-check">
              <input id="maleCheck" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="maleCheck">Male</label>
            </div>
            <div class="form-check">
              <input id="femaleCheck" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="femaleCheck">Female</label>
            </div>
            <div class="form-check">
              <input id="otherCheck" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="otherCheck">Other</label>
            </div>
          </div>
          <hr class="my-4">

        </form>
      </div>
    </div>
  </main>
  <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">© 2022-2017 اسم الشركة</p>
          <ul class="list-inline">
              <li class="list-inline-item"><a href="#">سياسة الخصوصية</a></li>
              <li class="list-inline-item"><a href="#">اتفاقية الاستخدام</a></li>
              <li class="list-inline-item"><a href="#">الدعم الفني</a></li>
          </ul>
      </footer> -->
</div>
