<div class="container" style="background-color: white; height: 100%;">
  <main>
      <div class="row">
          <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Advance</h4>
              <form class="needs-validation" novalidate="">
                  <div class="row g-3">
                      <div class="col-sm-6">
                          <label for="name" class="form-label">Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Bohdan" value="" required="">
                      </div>
                      <div class="col-12">
                          <label for="phone" class="form-label">Phone number</label>
                          <input type="number" class="form-control number" id="phone" placeholder="877236215"
                              required="">
                      </div>
                      <div class="col-12">
                          <label for="email" class="form-label">Email</label>
                          <input type="email" class="form-control" id="email" placeholder="you@example.com">
                      </div>
                  </div>
                  <div class="my-3">
                      <label for="phone" class="form-label">Sex</label>
                      <div class="form-check">
                          <input id="maleCheck" name="paymentMethod" type="radio" class="form-check-input" checked=""
                              required="">
                          <label class="form-check-label" for="maleCheck">Male</label>
                      </div>
                      <div class="form-check">
                          <input id="femaleCheck" name="paymentMethod" type="radio" class="form-check-input"
                              required="">
                          <label class="form-check-label" for="femaleCheck">Female</label>
                      </div>
                      <div class="form-check">
                          <input id="otherCheck" name="paymentMethod" type="radio" class="form-check-input"
                              required="">
                          <label class="form-check-label" for="otherCheck">Other</label>
                      </div>
                  </div>
                  <hr class="my-4">
              </form>
          </div>
      </div>
  </main>
</div>